h1,h2,h3,h4,p{
font-family: cursive;
font-style: italic;
}
body{
    background-color: cadetblue;

}
.centres{
align-content: center;
text-align: center;
}
h1{
    color:palegreen;
}
input[type="number"]{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: plum;
    background-color: rosybrown;
    font-size: larger;
    color: whitesmokess;
}
button[type="submit"]{
    width: 150px;
    height: 30px;
    background-color: rgb(66, 151, 66);
    border-radius: 30px;
}
.result{
    width: 20px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}
.box{
    align-content: center;
    text-align: center;
    margin: 2px solid black;
    border-radius: 20px;
    height: auto;
    margin-left: 400px;
    width: 500px;
    background-color: rgb(126, 23, 112);
}